<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Yuyu's First Spring Demo</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">Thymeleaf</span>!</h1>

      <!-- Sign Out button in the upper-right corner -->
      <form th:action="@{/logout}" method="post" style="display: inline;">
          <input type="submit" value="Sign Out" class="signout-button"/>
      </form>

	  <div>
	      <form th:action="@{/CreateUser}" method="get" style="display: inline;">
	          <button type="submit" class="create-user-button">Create User</button>
	      </form>
	  </div>

      <label>Here is the list of current users:</label>
      <div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="user : ${users}">
              <td th:text="${user.id}"></td>
              <td th:text="${user.name}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
